# Investigating bias in sentiment analysis using Twitter data
### Team member- Divya Damahe, Avani Patel, Andrew Cummings, Bruno De Paula Luiz

### Sentiment Analysis Using TFIDF for Elastic Net Regularized Logistic Regression

#### For this notebook the file "'fulldatasetT.csv'" was used as the input file, already cleaned. If you were to download the data from the original site, go to https://ieee-dataport.org/open-access/coronavirus-covid-19-geo-tagged-tweets-dataset, hydrate the tweets using a Tweet Hydrator, and pass them through the 'tweetProcess' file, which will join the polarity scores with the tweet text. Please refer to tweetProcess for the dates of the tweets used as well

In [23]:
from pyspark.sql import SparkSession
from pyspark.ml import feature, regression, evaluation, Pipeline
from pyspark.sql import functions as fn, Row
import matplotlib.pyplot as plt
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
import numpy as np
# dataframe functions
from pyspark.sql import functions as fn
from __future__ import division
from pyspark.ml.feature import Tokenizer
from pyspark.ml.feature import CountVectorizer
from pyspark.ml import Pipeline
import pandas as pd
from pyspark.ml.feature import RegexTokenizer
# we obtain the stop words from a website
import requests
stop_words = requests.get('http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words').text.split()
stop_words[0:10]
from pyspark.ml.feature import StopWordsRemover
from pyspark.ml.feature import IDF
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.tuning import ParamGridBuilder
import seaborn
from pyspark.ml import feature
from pyspark.sql import types

In [24]:
#additional stop words to add
stop_words.append('https')
stop_words.append('t')

## Turn all scores into positive and negative

In [25]:
#scenario 1: turn all scores into positive and negative

In [26]:
fullDFP=pd.read_csv('fulldatasetT.csv',dtype={'polarity': float})

In [27]:
fullDFP=fullDFP.loc[:,['id','text','place','polarity']]

In [28]:
fullDFP['score']=0

In [29]:
#data_df.loc[data_df["mean radius"] > 12.0, "mean radius"] = 0
fullDFP.loc[fullDFP["polarity"] > 0.0, 'score'] = 1

In [30]:
fullDFP

,id,text,place,polarity,score
0,1.29E+18,Yoga Instructorüßò‚Äç‚ôÄÔ∏è @bare_table rocks it Frida...,"Kentucky, USA",0.1767,1
1,1.29E+18,Coz a nice stroll in the city is like a ghost ...,"Sydney, New South Wales",0.3333,1
2,1.29E+18,NEW! #Facemasks in my Society6 #Shop üëâ https:/...,Martinique,0.1705,1
3,1.29E+18,"I‚Äôm not saying I‚Äôm bored, but I have invented ...","Boise, ID",-0.1356,0
4,1.29E+18,Fighting Stigma: NPHET discuss regional lockdo...,"Mascouche, Qu√©bec",0.0000,0
...,...,...,...,...,...
151575,1.37E+18,Call us. We‚Äôll keep you safe. Always wear a ma...,"Boca Raton, FL",0.5000,1
151576,1.37E+18,What is #themoment you knew the pandemic was c...,"Manhattan, NY",-0.1519,0
151577,1.37E+18,I‚Äôve had just about every post-vaccine side ef...,"Sapulpa, OK",0.0958,1
151578,1.37E+18,Updated: Closure on #SouthernStateParkway EB a...,"North Valley Stream, NY",0.0000,0
151579,1.37E+18,Updated: Closure on #SouthernStateParkway EB a...,"North Valley Stream, NY",0.0000,0

In [32]:
#schema for dataset from pandas
from pyspark.sql.types import *

mySchema = StructType([StructField("id", StringType(), True)\

                       ,StructField("text", StringType(), True)\

                       ,StructField("place", StringType(), True)\

                       ,StructField("polarity", FloatType(), True)\
                       
                       ,StructField("score", IntegerType(), True)])

In [34]:
fullDf=spark.createDataFrame(fullDFP,schema=mySchema)

In [36]:
#displaying positive tweets
fullDf.where(fn.col('score')==1).show(10)

+--------+--------------------+--------------------+--------+-----+
|      id|                text|               place|polarity|score|
+--------+--------------------+--------------------+--------+-----+
|1.29E+18|Yoga Instructorüßò...|       Kentucky, USA|  0.1767|    1|
|1.29E+18|Coz a nice stroll...|Sydney, New South...|  0.3333|    1|
|1.29E+18|NEW! #Facemasks i...|          Martinique|  0.1705|    1|
|1.29E+18|Fighting Stigma: ...|   Mascouche, Qu√©bec|  0.1238|    1|
|1.29E+18|BON APPETITE

Eva...|     Bal Harbour, FL|  0.0111|    1|
|1.29E+18|We are probably m...|      Tennessee, USA|  0.0606|    1|
|1.29E+18|Great #summer nig...|        Pasadena, CA|     0.6|    1|
|1.29E+18|Waited all day to...|         Phoenix, AZ|  0.2964|    1|
|1.29E+18|Another new month...|  Navi Mumbai, India|  0.1811|    1|
|1.29E+18|@ChelseaFC

let's...|       Ogun, Nigeria|     0.5|    1|
+--------+--------------------+--------------------+--------+-----+
only showing top 10 rows

## Displaying counts of positive and negative tweets

In [37]:
fullDf.groupBy('score').agg(fn.count('score')).show()

+-----+------------+
|score|count(score)|
+-----+------------+
|    1|       87090|
|    0|       64490|
+-----+------------+

## Perform Sentiment Analysis WITHOUT Elastic Net Regularization LR

In [38]:
imdb_reviews_df = spark.read.parquet('imdb_reviews_preprocessed.parquet')
sentiments_df=spark.read.parquet('sentiments.parquet')

In [39]:
#split into words 
tokenizer = RegexTokenizer().setGaps(False)\
  .setPattern("\\p{L}+")\
  .setInputCol("text")\
  .setOutputCol("words")
review_words_df = tokenizer.transform(fullDf)

In [40]:
review_words_df.show()

+--------+--------------------+--------------------+--------+-----+--------------------+
|      id|                text|               place|polarity|score|               words|
+--------+--------------------+--------------------+--------+-----+--------------------+
|1.29E+18|Yoga Instructorüßò...|       Kentucky, USA|  0.1767|    1|[yoga, instructor...|
|1.29E+18|Coz a nice stroll...|Sydney, New South...|  0.3333|    1|[coz, a, nice, st...|
|1.29E+18|NEW! #Facemasks i...|          Martinique|  0.1705|    1|[new, facemasks, ...|
|1.29E+18|I‚Äôm not saying I‚Äô...|           Boise, ID| -0.1356|    0|[i, m, not, sayin...|
|1.29E+18|Fighting Stigma: ...|   Mascouche, Qu√©bec|     0.0|    0|[fighting, stigma...|
|1.29E+18|Fighting Stigma: ...|   Mascouche, Qu√©bec| -0.3125|    0|[fighting, stigma...|
|1.29E+18|Fighting Stigma: ...|   Mascouche, Qu√©bec|  0.1238|    1|[fighting, stigma...|
|1.29E+18|Them COVID nights...|Vandenberg Villag...|     0.0|    0|[them, covid, nig...|
|1.29E+18|Shoot after post ...|Fort Tondiarpet, ...|     0.0|    0|[shoot, after, po...|
|1.29E+18|BON APPETITE

Eva...|     Bal Harbour, FL|  0.0111|    1|[bon, appetite, e...|
|1.29E+18|Been trying to ma...|       Southport, IN| -0.0429|    0|[been, trying, to...|
|1.29E+18|Been trying to ma...|       Southport, IN| -0.0429|    0|[been, trying, to...|
|1.29E+18|We are probably m...|      Tennessee, USA|  0.0606|    1|[we, are, probabl...|
|1.29E+18|Great #summer nig...|        Pasadena, CA|     0.6|    1|[great, summer, n...|
|1.29E+18|Waited all day to...|         Phoenix, AZ|  0.2964|    1|[waited, all, day...|
|1.29E+18|Another new month...|  Navi Mumbai, India|  0.1811|    1|[another, new, mo...|
|1.29E+18|@ChelseaFC

let's...|       Ogun, Nigeria|     0.5|    1|[chelseafc, let, ...|
|1.29E+18|Before lockdown
....|        Sagar, India|     0.0|    0|[before, lockdown...|
|1.29E+18|My Mamang pogi......|Manila City, Nati...|  0.0982|    1|[my, mamang, pogi...|
|1.29E+18|Evening in Santa ...|      Santa Cruz, CA|     0.0|    0|[evening, in, san...|
+--------+--------------------+--------------------+--------+-----+--------------------+
only showing top 20 rows

In [41]:
tweet_words_sentiment_df = review_words_df.\
    select('id', fn.explode('words').alias('word')).\
    join(sentiments_df, 'word')
tweet_words_sentiment_df.show(5)

+----------+--------+---------+
|      word|      id|sentiment|
+----------+--------+---------+
|confidence|1.29E+18|        1|
|    strong|1.29E+18|        1|
|      nice|1.29E+18|        1|
|      like|1.29E+18|        1|
|protection|1.29E+18|        1|
+----------+--------+---------+
only showing top 5 rows

In [45]:
simple_sentiment_prediction_df = tweet_words_sentiment_df.\
    groupBy('id').\
    agg(fn.avg('sentiment').alias('avg_sentiment')).\
    withColumn('predicted', fn.when(fn.col('avg_sentiment') > 0, 1.0).otherwise(0.))
simple_sentiment_prediction_df.show(5)

+--------+-------------------+---------+
|      id|      avg_sentiment|predicted|
+--------+-------------------+---------+
|1.31E+18|0.13998100664767332|      1.0|
|1.32E+18| 0.1479426096372496|      1.0|
|1.30E+18| 0.3137938922566625|      1.0|
|1.36E+18|0.12607260726072608|      1.0|
|1.37E+18|0.22395476353666896|      1.0|
+--------+-------------------+---------+
only showing top 5 rows

In [46]:
#display accuracy of the sentiment analysis 
fullDf.\
    join(simple_sentiment_prediction_df, 'id').\
    select(fn.expr('float(score = predicted)').alias('correct')).\
    select(fn.avg('correct')).\
    show()

+------------------+
|      avg(correct)|
+------------------+
|0.5745594648264578|
+------------------+

## Logistic Regression with elastic net regularization

In [47]:
#stop word remover
sw_filter = StopWordsRemover()\
  .setStopWords(stop_words)\
  .setCaseSensitive(False)\
  .setInputCol("words")\
  .setOutputCol("filtered")

# we will remove words that appear in 5 docs or less
cv = CountVectorizer(minTF=1., minDF=5., vocabSize=2**17)\
  .setInputCol("filtered")\
  .setOutputCol("tf")


# inital pipeline to look at the size of our vocabulary
cv_pipeline = Pipeline(stages=[tokenizer, sw_filter, cv]).fit(fullDf)
# now we can make the transformation between the raw text and the counts
cv_pipeline.transform(fullDf)

DataFrame[id: string, text: string, place: string, polarity: float, score: int, words: array<string>, filtered: array<string>, tf: vector]

In [48]:
#size of the vocab
len(cv_pipeline.stages[-1].vocabulary)

31661

In [49]:
#main idf pipeline with LR
idf = IDF().\
    setInputCol('tf').\
    setOutputCol('tfidf')
lr = LogisticRegression().\
    setLabelCol('score').\
    setFeaturesCol('tfidf').\
    setRegParam(0.0).\
    setMaxIter(100).\
    setElasticNetParam(0.)
idf_pipeline = Pipeline(stages=[cv_pipeline, idf]).fit(fullDf)

In [50]:
#split set appropriately
training_df, validation_df, testing_df = fullDf.randomSplit([0.6, 0.3, 0.1], seed=0)

In [51]:
lr_pipeline = Pipeline(stages=[idf_pipeline, lr]).fit(training_df)

## Performance and evaluation

In [52]:
lr_pipeline.transform(validation_df).\
    select(fn.expr('float(prediction = score)').alias('correct')).\
    select(fn.avg('correct')).show()

+------------------+
|      avg(correct)|
+------------------+
|0.7764438461368702|
+------------------+

In [53]:
vocabulary = idf_pipeline.stages[0].stages[-1].vocabulary
weights = lr_pipeline.stages[-1].coefficients.toArray()
coeffs_df = pd.DataFrame({'word': vocabulary, 'weight': weights})

#### Most negatively weighted words, with large weighted values as we have not applied elastic net yet

In [54]:
coeffs_df.sort_values('weight').head(10)

               word     weight
5201    devastating -24.531630
27370      hapiness -22.211299
5072          awful -21.704040
30500  shutterstock -20.404987
24886       crooked -19.937877
30434       burdens -19.716803
21436   forecasting -18.989855
17237       turtles -18.900695
10792    terrifying -18.582047
14375       fearful -18.426585

#### Model with elastic net regularization

In [55]:
lambda_par = 0.02
alpha_par = 0.3
en_lr = LogisticRegression().\
        setLabelCol('score').\
        setFeaturesCol('tfidf').\
        setRegParam(lambda_par).\
        setMaxIter(100).\
        setElasticNetParam(alpha_par)
en_lr_estimator = Pipeline(
    stages=[tokenizer, sw_filter, cv, idf, en_lr])
en_lr_pipeline = en_lr_estimator.fit(training_df)

In [56]:
en_lr_pipeline.transform(validation_df).select(fn.avg(fn.expr('float(prediction = score)'))).show()

+--------------------------------+
|avg(float((prediction = score)))|
+--------------------------------+
|              0.8710965947961954|
+--------------------------------+

#### Most negatively weighted words after El-net

In [58]:
en_weights = en_lr_pipeline.stages[-1].coefficients.toArray()
en_coeffs_df = pd.DataFrame({'word': en_lr_pipeline.stages[2].vocabulary, 'weight': en_weights})
en_coeffs_df.sort_values('weight').head(15)

                    word    weight
1317               worst -0.218300
443                  bad -0.201350
1668                hate -0.182759
496                crazy -0.178315
2032              stupid -0.170983
1136                sick -0.170353
986                 cold -0.165276
441                 soda -0.162481
6755           goldkilos -0.151609
997                  sad -0.127827
783            difficult -0.126444
1404               wrong -0.123174
497         savetheworld -0.117022
393   streetphotographer -0.112605
1019             chicken -0.109292

#### Most positively weighted words after El-net

In [59]:
en_coeffs_df.sort_values('weight', ascending=False).head(15)

          word    weight
5          new  0.648823
28       happy  0.604511
32        good  0.561014
25        love  0.544115
39       great  0.530618
88        best  0.527535
29        safe  0.512404
106  beautiful  0.476345
92        free  0.417571
146  available  0.409601
256     latest  0.399358
80        live  0.370560
96      thanks  0.370140
170    amazing  0.367577
183     better  0.358128

### Percentage of words that had 0 weight in our final model

In [60]:
en_coeffs_df.query('weight == 0.0').shape
en_coeffs_df.query('weight == 0.0').shape[0]/en_coeffs_df.shape[0]

0.9807051637978901

In [32]:
#display some of those 0 weight words
en_coeffs_df.query('weight == 0.0').head(15)

                word  weight
0              covid     0.0
4        coronavirus     0.0
10              home     0.0
11                 m     0.0
13        quarantine     0.0
14            health     0.0
17            stigma     0.0
18              mask     0.0
20              just     0.0
21              like     0.0
22          fighting     0.0
23              work     0.0
24           ireland     0.0
26  socialdistancing     0.0
30                 d     0.0

In [61]:
##fit several models varying the elastic net parameters 
grid = ParamGridBuilder().\
    addGrid(en_lr.regParam, [0., 0.01, 0.02]).\
    addGrid(en_lr.elasticNetParam, [0., 0.2, 0.4]).\
    build()
all_models = []
for j in range(len(grid)):
    print("Fitting model {}".format(j+1))
    model = en_lr_estimator.fit(training_df, grid[j])
    all_models.append(model)

Fitting model 1
Fitting model 2
Fitting model 3
Fitting model 4
Fitting model 5
Fitting model 6
Fitting model 7
Fitting model 8
Fitting model 9

In [62]:
# estimate the accuracy of each of them:
accuracies = [m.\
    transform(validation_df).\
    select(fn.avg(fn.expr('float(score = prediction)')).alias('accuracy')).\
    first().\
    accuracy for m in all_models]
accuracies

[0.8185951051574604,
 0.8185951051574604,
 0.8185951051574604,
 0.8496899344558957,
 0.899499040010593,
 0.8864122878644097,
 0.8480568490278728,
 0.8866109063624126,
 0.8571270937699997]

### Select model with highest Accuracy

In [63]:
best_model_idx = np.argmax(accuracies)

In [64]:
#display the parameters of our best model
grid[best_model_idx]

{Param(parent='LogisticRegression_8cde316ffe0f', name='regParam', doc='regularization parameter (>= 0).'): 0.01,
 Param(parent='LogisticRegression_8cde316ffe0f', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.2}

In [65]:
best_model = all_models[best_model_idx]
# estimate generalization performance
best_model.\
    transform(testing_df).\
    select(fn.avg(fn.expr('float(score = prediction)')).alias('accuracy')).\
    show()

+------------------+
|          accuracy|
+------------------+
|0.9022833453971179|
+------------------+

## Evaluation Metrics

In [66]:
#eval portion

evaluator=evaluation.BinaryClassificationEvaluator(labelCol='score')
AUC1=evaluator.evaluate(best_model.transform(testing_df))
print("Model 1 :", AUC1)

Model 1 : 0.9503176134309154

In [67]:
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.mllib.evaluation import MulticlassMetrics

In [68]:
##create a variable that contains our eval metrics
predictions = best_model.transform(testing_df)
preds_and_labels = predictions.select(['prediction','score']).withColumn('label', fn.col('score').cast(FloatType())).orderBy('prediction')

#select only prediction and label columns
preds_and_labels = preds_and_labels.select(['prediction','label'])

metrics = MulticlassMetrics(preds_and_labels.rdd.map(tuple))

# Final Results

In [69]:
print("Summary Stats")
print(np.swapaxes(np.flip(metrics.confusionMatrix().toArray()),1,0))
print("Precision =",metrics.precision(1.0))
print("Recall =",metrics.recall(1.0))
print("F1 Score for positive tweets",metrics.fMeasure(1.0) )
print("F1 Score for negative tweets",metrics.fMeasure(0.0) )

Summary Stats
[[7750.  522.]
 [ 963. 5962.]]
Precision = 0.9368955512572534
Recall = 0.8894754963847125
F1 Score for positive tweets 0.9125699146305564
F1 Score for negative tweets 0.889253486464315

## EEC corpus as input for the Best LR model

In [70]:
#Loading Equity Evaluation Corpus to use as testing data
eec =pd.read_csv('Equity-Evaluation-Corpus.csv')

In [71]:
eec

,ID,Sentence,Template,Person,Gender,Race,Emotion,Emotion word
0,2018-En-mystery-05498,Alonzo feels angry.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,angry
1,2018-En-mystery-11722,Alonzo feels furious.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,furious
2,2018-En-mystery-11364,Alonzo feels irritated.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,irritated
3,2018-En-mystery-14320,Alonzo feels enraged.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,enraged
4,2018-En-mystery-14114,Alonzo feels annoyed.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,annoyed
...,...,...,...,...,...,...,...,...
8635,2018-En-mystery-12020,The conversation with my mom was funny.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,funny
8636,2018-En-mystery-14529,The conversation with my mom was hilarious.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,hilarious
8637,2018-En-mystery-16746,The conversation with my mom was amazing.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,amazing
8638,2018-En-mystery-00046,The conversation with my mom was wonderful.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,wonderful
8639,2018-En-mystery-16664,The conversation with my mom was great.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,great

In [72]:
#Dropping other columns
eec_test = eec.drop(["ID", "Template", "Person", "Gender", "Race", "Emotion", "Emotion word"], axis= 1)

In [73]:
#eec_test_spark= spark.createDataFrame(eec)

In [74]:
#Converting the pandas df to a spark df
eec_test_spark= spark.createDataFrame(eec_test)

#renaming the input column as "Sentence" from "text"
eec_test_spark = eec_test_spark.withColumnRenamed("sentence","text")

In [75]:
predictions_lr_t = best_model.transform(training_df)
predictions_lr_t.show()

+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|      id|                text|               place|polarity|score|               words|            filtered|                  tf|               tfidf|       rawPrediction|         probability|prediction|
+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|1.29E+18|!! Khaddi Georget...|       Mumbai, India|     0.5|    1|[khaddi, georgett...|[khaddi, georgett...|(21612,[23,114,25...|(21612,[23,114,25...|[-0.5654271221116...|[0.36229266069669...|       1.0|
|1.29E+18|!! sigalert !! a ...|          Corona, CA|  0.1429|    1|[sigalert, a, cra...|[sigalert, crash,...|(21612,[16,47,117...|(21612,[16,47,117...|[-0.8939347319445...|[0.29029850478073...|       1.0|
|1.29E+18|!! sigalert !! a ...|          Corona, CA|  0.1429|    1|[sigalert, a, cra...|[sigalert, crash,...|(21612,[16,47,117...|(21612,[16,47,117...|[-0.8939347319445...|[0.29029850478073...|       1.0|
|1.29E+18|" Winner's are ne...|  Navi Mumbai, India|  0.1841|    1|[winner, s, are, ...|[winner, s, quit,...|(21612,[1,5,109,1...|(21612,[1,5,109,1...|[-7.3258396330699...|[6.57873612618045...|       1.0|
|1.29E+18|"...school and de...|       Manhattan, NY|  0.0313|    1|[school, and, dev...|[school, developm...|(21612,[0,10,23,1...|(21612,[0,10,23,1...|[-0.0646645569201...|[0.48383949164797...|       1.0|
|1.29E+18|"...when good men...|    Toronto, Ontario|     0.7|    1|[when, good, men,...|[good, men, emerg...|(21612,[0,2,32,10...|(21612,[0,2,32,10...|[-1.4582736106639...|[0.18873151398343...|       1.0|
|1.29E+18|"A smile is the l...| Kutorejo, Indonesia|     0.4|    1|[a, smile, is, th...|[smile, light, wi...|(21612,[3,79,90,1...|(21612,[3,79,90,1...|[-3.6170516882836...|[0.02615907790485...|       1.0|
|1.29E+18|"A-Frames" with #...|   Pontnewydd, Wales|     0.0|    0|[a, frames, with,...|[frames, covid, p...|(21612,[0,47,109,...|(21612,[0,47,109,...|[0.98280738435921...|[0.72766490746122...|       0.0|
|1.29E+18|"Abandoned toilet...|Haight Ashbury, S...| -0.0333|    0|[abandoned, toile...|[abandoned, toile...|(21612,[0,30,41,4...|(21612,[0,30,41,4...|[1.12111357759009...|[0.75419521523094...|       0.0|
|1.29E+18|"American science...|         Seattle, WA|     0.0|    0|[american, scienc...|[american, scienc...|(21612,[0,1,12,54...|(21612,[0,1,12,54...|[0.81389246597885...|[0.69293834437085...|       0.0|
|1.29E+18|"Analysts and ind...|Dubai, United Ara...|  0.0417|    1|[analysts, and, i...|[analysts, indust...|(21612,[1,16,47,7...|(21612,[1,16,47,7...|[1.22135358463918...|[0.77230166745459...|       0.0|
|1.29E+18|"Are [children] s...|      Washington, DC|     0.3|    1|[are, children, s...|[children, suscep...|(21612,[1,30,40,4...|(21612,[1,30,40,4...|[-4.1620345167856...|[0.01533695052964...|       1.0|
|1.29E+18|"Askari Bank‚Äôs Pr...|    Lahore, Pakistan|  0.0024|    1|[askari, bank, s,...|[askari, bank, s,...|(21612,[0,1,35,10...|(21612,[0,1,35,10...|[1.47430803352092...|[0.81371130297757...|       0.0|
|1.29E+18|"Back to work. Ba...|         Houston, TX|  0.1321|    1|[back, to, work, ...|[work, ta, work, ...|(21612,[0,1,23,63...|(21612,[0,1,23,63...|[-3.4572601623427...|[0.03055308183948...|       1.0|
|1.29E+18|"Can a Cartoon Ra...|         Seattle, WA|     0.5|    1|[can, a, cartoon,...|[cartoon, raccoon...|(21612,[0,29,970,...|(21612,[0,29,970,...|[-1.1838598243474...|[0.23435889940861...|       1.0|
|1.29E+18|"Covid 19" came ....|      Trissur, India|     0.0|    0|[covid, came, is,...|[covid, came, ind...|(21612,[0,1,129,3...|(21612,[0,1,129,3...|[1.45590849081750...|[0.81090609133168...|       0.0|
|1.29E+18|"Cum eat it üí¶" s...|     Los Angeles, CA|  0.5333|    1|[cum, eat, it, sh...|[cum, eat, said, ...|(21612,[0,21,25,5...|(21612,[0,21,25,5...|[-5.5430006084030...|[0.00389949692331...|       1.0|
|1.29E+18|"Data from the CO...|      Washington, DC|  0.3333|    1|[data, from, the,...|[data, covid, sym...|(21612,[0,19,27,5...|(21612,[0,19,27,5...|[-3.0736539300050...|[0.04420718104571...|       1.0|
|1.29E+18|"Don't Be Like Jo...|    Margate, England|     0.0|    0|[don, t, be, like...|[don, like, john,...|(21612,[0,18,21,2...|(21612,[0,18,21,2...|[1.13407701538077...|[0.75659051282267...|       0.0|
|1.29E+18|"Drive Up to Come...|    Indianapolis, IN|  0.3667|    1|[drive, up, to, c...|[drive, come, com...|(21612,[0,55,91,9...|(21612,[0,55,91,9...|[-4.6292888045362...|[0.00966732954807...|       1.0|
+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [76]:
#Tranforming the EEC corpus in the Best model
predictions_lr = best_model.transform(eec_test_spark)
predictions.show()

+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|      id|                text|               place|polarity|score|               words|            filtered|                  tf|               tfidf|       rawPrediction|         probability|prediction|
+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|1.29E+18|"Covid 19" came ....|      Trissur, India|     0.0|    0|[covid, came, is,...|[covid, came, ind...|(21612,[0,1,37,43...|(21612,[0,1,37,43...|[1.45590849081750...|[0.81090609133168...|       0.0|
|1.29E+18|"Due to the curre...| Carmona, Calabarzon| -0.0313|    0|[due, to, the, cu...|[current, covid, ...|(21612,[0,69,118,...|(21612,[0,69,118,...|[2.08600881844618...|[0.88953585418001...|       0.0|
|1.29E+18|"Humans of Boraca...|Malay, Western Vi...|     0.0|    0|[humans, of, bora...|[humans, boracay,...|(21612,[3,34,60,6...|(21612,[3,34,60,6...|[0.57118707227422...|[0.63903704073722...|       0.0|
|1.29E+18|"I am so thrilled...|Pretoria, South A...|  0.4167|    1|[i, am, so, thril...|[thrilled, brookl...|(21612,[2,31,132,...|(21612,[2,31,132,...|[-2.2960880630162...|[0.09144746457194...|       1.0|
|1.29E+18|"Just gained 10 h...|   Dhaka, Bangladesh|     0.0|    0|[just, gained, ht...|[just, gained, nh...|(21612,[2,20,41,4...|(21612,[2,20,41,4...|[1.14170412409563...|[0.75799238083254...|       0.0|
|1.29E+18|"Lockdown may hav...|Cape Town, South ...|     0.0|    0|[lockdown, may, h...|[lockdown, kept, ...|(21612,[2,3,132,2...|(21612,[2,3,132,2...|[0.91667468258218...|[0.71436406512577...|       0.0|
|1.29E+18|"Only do what you...|Sholinganallur, I...|     0.4|    1|[only, do, what, ...|[heart, tells, fo...|(21612,[25,114,15...|(21612,[25,114,15...|[-5.6864545568783...|[0.00338013234551...|       1.0|
|1.29E+18|"Tempting fate 20...|Adelaide, South A...| -0.0125|    0|[tempting, fate, ...|[tempting, fate, ...|(21612,[0,1,3,19,...|(21612,[0,1,3,19,...|[-0.5587160244505...|[0.36384459890378...|       1.0|
|1.29E+18|"We'll Be Aight" ...|       Manhattan, NY| -0.0792|    0|[we, ll, be, aigh...|[ll, aight, taken...|(21612,[0,78,98,1...|(21612,[0,78,98,1...|[1.44353205865982...|[0.80900101513337...|       0.0|
|1.29E+18|"What you do make...|      Nairobi, Kenya|     0.6|    1|[what, you, do, m...|[makes, differenc...|(21612,[0,69,143,...|(21612,[0,69,143,...|[-1.2702496963525...|[0.21921451118631...|       1.0|
|1.29E+18|#AD: Free Houston...|         Houston, TX|     0.4|    1|[ad, free, housto...|[ad, free, housto...|(21612,[0,1,14,33...|(21612,[0,1,14,33...|[-1.2762651019576...|[0.21818665650052...|       1.0|
|1.29E+18|#AmericanAirlines...|       Charlotte, NC|  0.4667|    1|[americanairlines...|[americanairlines...|(21612,[0,14,88,9...|(21612,[0,14,88,9...|[-4.4231634008331...|[0.01185401986504...|       1.0|
|1.29E+18|#BREAKING - Gabe ...|  Corpus Christi, TX| -0.0625|    0|[breaking, gabe, ...|[breaking, gabe, ...|(21612,[0,168,259...|(21612,[0,168,259...|[1.19485285679723...|[0.76760787006373...|       0.0|
|1.29E+18|#BREAKINGNEWS
#Th...|      Moscow, Russia|  0.2788|    1|[breakingnews, th...|[breakingnews, th...|(21612,[0,4,5,41,...|(21612,[0,4,5,41,...|[-3.9031642452096...|[0.01977886510865...|       1.0|
|1.29E+18|#COVID-19 AWARENE...|              Malawi|     0.0|    0|[covid, awareness...|[covid, awareness...|(21612,[0,1416,16...|(21612,[0,1416,16...|[1.19485285679723...|[0.76760787006373...|       0.0|
|1.29E+18|#COVID19 #COVID19...|            Honduras|     0.0|    0|[covid, covid, hn...|[covid, covid, hn...|(21612,[0,11,56,2...|(21612,[0,11,56,2...|[1.53396903346679...|[0.82258628917423...|       0.0|
|1.29E+18|#COVID19 #Salud #...|            Honduras|     0.0|    0|[covid, salud, ho...|[covid, salud, ho...|(21612,[0,1,84,23...|(21612,[0,1,84,23...|[1.92497280283613...|[0.87269194033083...|       0.0|
|1.29E+18|#COVID19 #fork_tr...|Mossel Bay, South...|     0.0|    0|[covid, fork, tra...|[covid, fork, tra...|(21612,[0,47,771,...|(21612,[0,47,771,...|[1.19485285679723...|[0.76760787006373...|       0.0|
|1.29E+18|#CaptainAmerica d...|          Boston, MA|    -0.1|    0|[captainamerica, ...|[captainamerica, ...|(21612,[0,11,133,...|(21612,[0,11,133,...|[1.48850759521377...|[0.81585416511845...|       0.0|
|1.29E+18|#CaptainAmerica d...|          Boston, MA|    -0.1|    0|[captainamerica, ...|[captainamerica, ...|(21612,[0,133,181...|(21612,[0,133,181...|[1.48850759521377...|[0.81585416511845...|       0.0|
+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [77]:
lr_raw_predictions_df = predictions_lr.select("text", "rawPrediction","prediction")

In [78]:
#converting to pandas dataframe
lr_raw_predictions_df = lr_raw_predictions_df.toPandas()

### Random Forest

In [79]:
# Preload packages
from pyspark.sql import SparkSession
from pyspark.ml import feature, regression, evaluation, Pipeline
from pyspark.sql import functions as fn, Row
import matplotlib.pyplot as plt
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
# dataframe functions
from pyspark.sql import functions as fn
import os
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression, RandomForestClassifier
import requests
stop_words = requests.get('http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words').text.split()
stop_words[0:10]
from pyspark.ml.feature import StopWordsRemover
from pyspark.ml.feature import IDF
from pyspark.ml.evaluation import BinaryClassificationEvaluator
import pandas as pd
from pyspark.sql.types import *

from pyspark.ml.feature import Tokenizer
from pyspark.ml.feature import CountVectorizer
from pyspark.ml.feature import RegexTokenizer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [80]:
###import dataset

fullDFP=pd.read_csv('fulldatasetT.csv',dtype={'polarity': float})
fullDFP=fullDFP.loc[:,['id','text','place','polarity']]
fullDFP['score']=0
fullDFP.loc[fullDFP["polarity"] > 0.0, 'score'] = 1

mySchema = StructType([StructField("id", StringType(), True)\

                       ,StructField("text", StringType(), True)\

                       ,StructField("place", StringType(), True)\

                       ,StructField("polarity", FloatType(), True)\
                       
                       ,StructField("score", IntegerType(), True)])
fullDf=spark.createDataFrame(fullDFP,schema=mySchema)

In [81]:
sentiments_df=spark.read.parquet('sentiments.parquet')

In [82]:
fullDf=fullDf.withColumnRenamed('score','label')

In [83]:
fullDf.describe().show()

+-------+-----------+--------------------+--------------------+--------+------------------+
|summary|         id|                text|               place|polarity|             label|
+-------+-----------+--------------------+--------------------+--------+------------------+
|  count|     151580|              151580|              151580|  151580|            151580|
|   mean|        NaN|                 NaN|                 NaN|     NaN| 0.574548093416018|
| stddev|        NaN|                 NaN|                 NaN|     NaN|0.4944129796127013|
|    min|   1.27E+18| https://t.co/Xjr...|'s-Hertogenbosch,...|    -1.0|                 0|
|    max|Rome, Lazio|ü™Ç[Everything you...|–≠–ª—å–±—Ä—É—Å—Å–∫–∏–π —Ä–∞–π–æ–Ω...|     NaN|                 1|
+-------+-----------+--------------------+--------------------+--------+------------------+

In [84]:
training_df, validation_df, testing_df = fullDf.randomSplit([0.6, 0.3, 0.1])

In [85]:
tokenizer = RegexTokenizer().setGaps(False)\
  .setPattern("\\p{L}+")\
  .setInputCol("text")\
  .setOutputCol("words")
review_words_df = tokenizer.transform(fullDf)
tweet_words_sentiment_df = review_words_df.\
    select('id', fn.explode('words').alias('word')).\
    join(sentiments_df, 'word')
tweet_words_sentiment_df.show(5)

sw_filter = StopWordsRemover()\
  .setStopWords(stop_words)\
  .setCaseSensitive(False)\
  .setInputCol("words")\
  .setOutputCol("filtered")

# we will remove words that appear in 5 docs or less
cv = CountVectorizer(minTF=1., minDF=5., vocabSize=2**17)\
  .setInputCol("filtered")\
  .setOutputCol("tf")

# we now create a pipelined transformer
cv_pipeline = Pipeline(stages=[tokenizer, sw_filter, cv]).fit(fullDf)

idf = IDF().\
    setInputCol('tf').\
    setOutputCol('tfidf')
lr = LogisticRegression().\
    setLabelCol('label').\
    setFeaturesCol('tfidf').\
    setRegParam(0.0).\
    setMaxIter(100).\
    setElasticNetParam(0.)
idf_pipeline = Pipeline(stages=[cv_pipeline, idf]).fit(fullDf)

+----------+--------+---------+
|      word|      id|sentiment|
+----------+--------+---------+
|confidence|1.29E+18|        1|
|    strong|1.29E+18|        1|
|      nice|1.29E+18|        1|
|      like|1.29E+18|        1|
|protection|1.29E+18|        1|
+----------+--------+---------+
only showing top 5 rows

In [86]:
rf = RandomForestClassifier().setLabelCol('label').\
    setFeaturesCol('tfidf')
rf_pipeline = Pipeline(stages=[idf_pipeline, rf]).fit(training_df)

In [87]:
bce = BinaryClassificationEvaluator()
bce.evaluate(rf_pipeline.transform(validation_df))

0.6661050064488603

In [88]:
predictions = rf_pipeline.transform(testing_df)
predictions.filter(predictions['prediction'] == 0) \
    .select("text",'probability',"label","prediction") \
    .orderBy("probability", ascending=False) \
    .show(n = 10, truncate = 30)

+------------------------------+------------------------------+-----+----------+
|                          text|                   probability|label|prediction|
+------------------------------+------------------------------+-----+----------+
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
|‚ù§‚ù§ I challenge you to #Save...|[0.6413883477019112,0.35861...|    0|       0.0|
+------------------------------+------------------------------+-----+----------+
only showing top 10 rows

In [90]:
predictions_rf = rf_pipeline.transform(eec_test_spark)

In [91]:
predictions_rf.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|                text|               words|            filtered|                  tf|               tfidf|       rawPrediction|         probability|prediction|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
| Alonzo feels angry.|[alonzo, feels, a...|[alonzo, feels, a...|(31663,[564,5497]...|(31663,[564,5497]...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels furi...|[alonzo, feels, f...|[alonzo, feels, f...|(31663,[564,23788...|(31663,[564,23788...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels irri...|[alonzo, feels, i...|[alonzo, feels, i...|(31663,[564,21194...|(31663,[564,21194...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels enra...|[alonzo, feels, e...|[alonzo, feels, e...| (31663,[564],[1.0])|(31663,[564],[5.5...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels anno...|[alonzo, feels, a...|[alonzo, feels, a...|(31663,[564,15616...|(31663,[564,15616...|[8.58131452095296...|[0.42906572604764...|       1.0|
|   Alonzo feels sad.|[alonzo, feels, sad]|[alonzo, feels, sad]|(31663,[564,959],...|(31663,[564,959],...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels depr...|[alonzo, feels, d...|[alonzo, feels, d...|(31663,[564,7472]...|(31663,[564,7472]...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels deva...|[alonzo, feels, d...|[alonzo, feels, d...|(31663,[564,5805]...|(31663,[564,5805]...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels mise...|[alonzo, feels, m...|[alonzo, feels, m...|(31663,[564,14851...|(31663,[564,14851...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels disa...|[alonzo, feels, d...|[alonzo, feels, d...|(31663,[564,5815]...|(31663,[564,5815]...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels terr...|[alonzo, feels, t...|[alonzo, feels, t...|(31663,[564,13065...|(31663,[564,13065...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels disc...|[alonzo, feels, d...|[alonzo, feels, d...|(31663,[564,21710...|(31663,[564,21710...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels scared.|[alonzo, feels, s...|[alonzo, feels, s...|(31663,[564,3010]...|(31663,[564,3010]...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels anxi...|[alonzo, feels, a...|[alonzo, feels, a...|(31663,[564,3700]...|(31663,[564,3700]...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels fear...|[alonzo, feels, f...|[alonzo, feels, f...|(31663,[564,14469...|(31663,[564,14469...|[8.58131452095296...|[0.42906572604764...|       1.0|
| Alonzo feels happy.|[alonzo, feels, h...|[alonzo, feels, h...|(31663,[32,564],[...|(31663,[32,564],[...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels ecst...|[alonzo, feels, e...|[alonzo, feels, e...|(31663,[564,21648...|(31663,[564,21648...|[8.58131452095296...|[0.42906572604764...|       1.0|
|  Alonzo feels glad.|[alonzo, feels, g...|[alonzo, feels, g...|(31663,[564,732],...|(31663,[564,732],...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels reli...|[alonzo, feels, r...|[alonzo, feels, r...|(31663,[564,8087]...|(31663,[564,8087]...|[8.58131452095296...|[0.42906572604764...|       1.0|
|Alonzo feels exci...|[alonzo, feels, e...|[alonzo, feels, e...|(31663,[334,564],...|(31663,[334,564],...|[8.58131452095296...|[0.42906572604764...|       1.0|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [92]:
predictions.filter(predictions['prediction'] == 0) \
    .select ("filtered", "prediction", "probability", "rawPrediction", "text", "tf", "tfidf", "words")\
    .show(n = 10, truncate = 30)

+------------------------------+----------+------------------------------+------------------------------+------------------------------+------------------------------+------------------------------+------------------------------+
|                      filtered|prediction|                   probability|                 rawPrediction|                          text|                            tf|                         tfidf|                         words|
+------------------------------+----------+------------------------------+------------------------------+------------------------------+------------------------------+------------------------------+------------------------------+
|[angles, progress, covid, k...|       0.0|[0.5144604101287003,0.48553...|[10.289208202574008,9.71079...|Angles in progress. #covid1...|(31663,[0,1,2,13,106,124,21...|(31663,[0,1,2,13,106,124,21...|[angles, in, progress, covi...|
|[bridgepoint, health, film,...|       0.0|[0.5144604101287003,0.48553...|[10.289208202574008,9.71079...|Bridgepoint Health (film) #...|(31663,[0,1,2,16,86,124,215...|(31663,[0,1,2,16,86,124,215...|[bridgepoint, health, film,...|
|[seen, queen, covid, beache...|       0.0|[0.5144604101287003,0.48553...|[10.289208202574008,9.71079...|Seen on Queen. #covid19 - T...|(31663,[0,1,2,86,124,215,34...|(31663,[0,1,2,86,124,215,34...|[seen, on, queen, covid, th...|
|[seen, queen, covid, beache...|       0.0|[0.5144604101287003,0.48553...|[10.289208202574008,9.71079...|Seen on Queen. #covid19 - T...|(31663,[0,1,2,86,124,215,34...|(31663,[0,1,2,86,124,215,34...|[seen, on, queen, covid, th...|
|[seen, queen, covid, beache...|       0.0|[0.5144604101287003,0.48553...|[10.289208202574008,9.71079...|Seen on Queen. #covid19 - T...|(31663,[0,1,2,86,124,215,34...|(31663,[0,1,2,86,124,215,34...|[seen, on, queen, covid, th...|
|[billionshields, challenge,...|       0.0|[0.510713322086298,0.489286...|[10.214266441725961,9.78573...|#BillionShields Challenge i...|(31663,[0,1,3,6,38,42,68,20...|(31663,[0,1,3,6,38,42,68,20...|[billionshields, challenge,...|
|[billionshields, challenge,...|       0.0|[0.510713322086298,0.489286...|[10.214266441725961,9.78573...|#BillionShields Challenge i...|(31663,[0,1,6,38,41,68,202,...|(31663,[0,1,6,38,41,68,202,...|[billionshields, challenge,...|
|[billionshields, challenge,...|       0.0|[0.510713322086298,0.489286...|[10.214266441725961,9.78573...|#BillionShields Challenge i...|(31663,[0,1,6,38,68,202,449...|(31663,[0,1,6,38,68,202,449...|[billionshields, challenge,...|
|[billionshields, challenge,...|       0.0|[0.510713322086298,0.489286...|[10.214266441725961,9.78573...|#BillionShields Challenge i...|(31663,[0,1,6,38,68,202,449...|(31663,[0,1,6,38,68,202,449...|[billionshields, challenge,...|
|[challenge, savetheworld, c...|       0.0|[0.6356098591834108,0.36439...|[12.712197183668215,7.28780...|I challenge you to #SaveThe...|(31663,[0,1,6,38,61,202,259...|(31663,[0,1,6,38,61,202,259...|[i, challenge, you, to, sav...|
+------------------------------+----------+------------------------------+------------------------------+------------------------------+------------------------------+------------------------------+------------------------------+
only showing top 10 rows

In [93]:
predictions.describe().show()

+-------+--------+--------------------+--------------------+--------+------------------+-------------------+
|summary|      id|                text|               place|polarity|             label|         prediction|
+-------+--------+--------------------+--------------------+--------+------------------+-------------------+
|  count|   15078|               15078|               15078|   15078|             15078|              15078|
|   mean|     NaN|                 NaN|                 NaN|     NaN|0.5718928239819605|  0.990449661758854|
| stddev|     NaN|                 NaN|                 NaN|     NaN|0.4948208368650665|0.09726128041853342|
|    min|1.27E+18|!! Client Diaries...|'s-Hertogenbosch,...|    -1.0|                 0|                0.0|
|    max|     NaN|üß∏ Teddy Bears‚Äô P...|–ö–∏—Å–ª–æ–≤–æ–¥—Å–∫, –°—Ç–∞–≤—Ä...|     NaN|                 1|                1.0|
+-------+--------+--------------------+--------------------+--------+------------------+-------------------+

## Naive Bayes

In [158]:
#tokenizer
from pyspark.ml.feature import StringIndexer

tokenizer = RegexTokenizer().setGaps(False)\
  .setPattern("\\p{L}+")\
  .setInputCol("text")\
  .setOutputCol("words")

review_words_df = tokenizer.transform(fullDf)

tweet_words_sentiment_df = review_words_df.\
    select('id', fn.explode('words').alias('word')).\
    join(sentiments_df, 'word')
tweet_words_sentiment_df.show(5)

#stop words
sw_filter = StopWordsRemover()\
  .setStopWords(stop_words)\
  .setCaseSensitive(False)\
  .setInputCol("words")\
  .setOutputCol("filtered")

#convert label to numeric using binarizer

indexer = StringIndexer(inputCol="label", outputCol="label_numeric")


# we will remove words that appear in 5 docs or less
cv = CountVectorizer(minTF=1., minDF=5., vocabSize=2**17).setInputCol("filtered").setOutputCol("tf")

# 4. Vectorise features using vectorassembler
vecAssembler = VectorAssembler(inputCols=['label_numeric'], outputCol="features")


# we now create a pipelined transformer
nb_pipeline = Pipeline(stages=[tokenizer,sw_filter,cv,indexer,vecAssembler])

+----------+--------+---------+
|      word|      id|sentiment|
+----------+--------+---------+
|confidence|1.29E+18|        1|
|    strong|1.29E+18|        1|
|      nice|1.29E+18|        1|
|      like|1.29E+18|        1|
|protection|1.29E+18|        1|
+----------+--------+---------+
only showing top 5 rows

In [160]:
from pyspark.ml.classification import NaiveBayes
# Initialise the model
nb = NaiveBayes(smoothing=1.0, modelType="multinomial")
# Fit the model
model = nb.fit(training_df)
# Make predictions on test data
predictions = model.transform(training_df)
predictions.select("label", "prediction", "probability").show()

IllegalArgumentException: features does not exist. Available: id, text, place, polarity, label

In [97]:
#Fit the pipeline to transform the data
training_df_sp = nb_pipeline.transform(training_df)

AttributeError: 'Pipeline' object has no attribute 'transform'

In [174]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

evaluator = BinaryClassificationEvaluator(rawPredictionCol="prediction")

accuracy = evaluator.evaluate(predictions)

print ("Model AUC: ", accuracy)

Model AUC:  0.7862369298320915

In [175]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ParamGrid and Evaluator for Cross Validation
paramGrid = ParamGridBuilder().addGrid(nb.smoothing, [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.5, 2.0]).build()
cvEvaluator = BinaryClassificationEvaluator(rawPredictionCol="prediction")

In [203]:
training_df.show()

+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+-------------+--------------------+
|      id|                text|               place|polarity|label|               words|            filtered|                  tf|label_numeric|            features|
+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+-------------+--------------------+
|1.29E+18| https://t.co/Xjr...|        Evry, France|     0.0|    0|[https, t, co, xj...|[https, t, xjrcwj...|(31663,[0,1,2,28,...|          1.0|(31663,[0,1,2,28,...|
|1.29E+18|!! sigalert !! a ...|          Corona, CA|  0.1429|    1|[sigalert, a, cra...|[sigalert, crash,...|(31663,[0,1,18,53...|          0.0|(31663,[0,1,18,53...|
|1.29E+18|" Winner's are ne...|  Navi Mumbai, India|  0.1841|    1|[winner, s, are, ...|[winner, s, quit,...|(31663,[0,1,3,7,1...|          0.0|(31663,[0,1,3,7,1...|
|1.29E+18|"...when good men...|    Toronto, Ontario|     0.7|    1|[when, good, men,...|[good, men, emerg...|(31663,[0,1,2,4,3...|          0.0|(31663,[0,1,2,4,3...|
|1.29E+18|"A smile is the l...| Kutorejo, Indonesia|     0.4|    1|[a, smile, is, th...|[smile, light, wi...|(31663,[0,1,5,81,...|          0.0|(31663,[0,1,5,81,...|
|1.29E+18|"Analysts and ind...|Dubai, United Ara...|  0.0417|    1|[analysts, and, i...|[analysts, indust...|(31663,[0,1,3,18,...|          0.0|(31663,[0,1,3,18,...|
|1.29E+18|"Are [children] s...|      Washington, DC|     0.3|    1|[are, children, s...|[children, suscep...|(31663,[0,1,3,30,...|          0.0|(31663,[0,1,3,30,...|
|1.29E+18|"Back to work. Ba...|         Houston, TX|  0.1321|    1|[back, to, work, ...|[work, ta, work, ...|(31663,[0,1,2,3,2...|          0.0|(31663,[0,1,2,3,2...|
|1.29E+18|"Being with you i...|Egmore Nungambakk...|    0.46|    1|[being, with, you...|[happiness, follo...|(31663,[0,1,27,11...|          0.0|(31663,[0,1,27,11...|
|1.29E+18|"Can a Cartoon Ra...|         Seattle, WA|     0.5|    1|[can, a, cartoon,...|[cartoon, raccoon...|(31663,[0,1,2,31,...|          0.0|(31663,[0,1,2,31,...|
|1.29E+18|"Closed for the f...|            Elko, NV|   0.025|    1|[closed, for, the...|[closed, foreseea...|(31663,[0,1,2,101...|          0.0|(31663,[0,1,2,101...|
|1.29E+18|"Covid 19" came ....|      Trissur, India|     0.0|    0|[covid, came, is,...|[covid, came, ind...|(31663,[0,1,2,3,3...|          1.0|(31663,[0,1,2,3,3...|
|1.29E+18|"Cum eat it üí¶" s...|     Los Angeles, CA|  0.5333|    1|[cum, eat, it, sh...|[cum, eat, said, ...|(31663,[0,1,2,23,...|          0.0|(31663,[0,1,2,23,...|
|1.29E+18|"Data from the CO...|      Washington, DC|  0.3333|    1|[data, from, the,...|[data, covid, sym...|(31663,[0,1,2,22,...|          0.0|(31663,[0,1,2,22,...|
|1.29E+18|"Doing what you l...|Salug, Zamboanga ...|     0.7|    1|[doing, what, you...|[doing, like, fre...|(31663,[0,1,23,11...|          0.0|(31663,[0,1,23,11...|
|1.29E+18|"Don't Be Like Jo...|    Margate, England|     0.0|    0|[don, t, be, like...|[don, t, like, jo...|(31663,[0,1,2,20,...|          1.0|(31663,[0,1,2,20,...|
|1.29E+18|"Drive Up to Come...|    Indianapolis, IN|  0.3667|    1|[drive, up, to, c...|[drive, come, com...|(31663,[0,1,2,62,...|          0.0|(31663,[0,1,2,62,...|
|1.29E+18|"Every election i...|       Southgate, MI|     0.5|    1|[every, election,...|[election, determ...|(31663,[0,1,2,22,...|          0.0|(31663,[0,1,2,22,...|
|1.29E+18|"Everyone of us n...|Paranaque City, N...|   0.275|    1|[everyone, of, us...|[needs, care, pro...|(31663,[0,1,5,9,1...|          0.0|(31663,[0,1,5,9,1...|
|1.29E+18|"Face Mask: I pro...|      Gurgaon, India|     0.0|    0|[face, mask, i, p...|[face, mask, prot...|(31663,[0,1,2,20,...|          1.0|(31663,[0,1,2,20,...|
+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [176]:
# Run Cross-validation
cv = CrossValidator(estimator=nb, estimatorParamMaps=paramGrid, evaluator=cvEvaluator)
cvModel = cv.fit(training_df)

# Make predictions on testData. cvModel uses the bestModel.
cvPredictions = cvModel.transform(testing_df)

# Evaluate bestModel found from Cross Validation
evaluator.evaluate(cvPredictions)

0.7862369298320915

In [177]:
# Run Cross-validation
cv = CrossValidator(estimator=nb, estimatorParamMaps=paramGrid, evaluator=cvEvaluator)
cvModel = cv.fit(training_df)

In [178]:
# Make predictions on testData. cvModel uses the bestModel.

cvPredictions = cvModel.transform(testing_df)

In [ ]:
# Evaluate bestModel found from Cross Validation
evaluator.evaluate(cvPredictions)

In [ ]:
#confusion matrix

predictions= cvModel.transform(testing_df)

#predictions = best_model.transform(testing_df)

predictions.columns

In [ ]:
#important: need to cast to float type, and order by prediction, else it won't work
preds_and_labels = predictions.select(['prediction','label']).withColumn('label', fn.col('label').cast(FloatType())).orderBy('prediction')

In [ ]:
#select only prediction and label columns

from pyspark.ml.classification import DecisionTreeClassifier 
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.sql.types import FloatType

preds_and_labels = preds_and_labels.select(['prediction','label'])

metrics = MulticlassMetrics(preds_and_labels.rdd.map(tuple))

In [ ]:
print("Summary Stats")
print(np.swapaxes(np.flip(metrics.confusionMatrix().toArray()),1,0))
print("Precision =",metrics.precision(1.0))
print("Recall =",metrics.recall(1.0))
print("F1 Score for positive tweets",metrics.fMeasure(1.0) )
print("F1 Score for negative tweets",metrics.fMeasure(0.0) )

In [157]:
#End of Naive bayes

In [ ]:
lr_raw_predictions_df = predictions_lr.select("text", "rawPrediction","prediction")

In [ ]:
lr_raw_predictions_df = lr_raw_predictions_df.toPandas()

In [ ]:
rf_raw_predictions_df["id"] = rf_raw_predictions_df.index +1

#### end of eec on naive bayes

#### Scaling the Raw prediction values and Creating a dataframe

In [113]:
rf_raw_predictions_df = predictions_rf.select("text", "rawPrediction","prediction")

In [114]:
rf_raw_predictions_df = rf_raw_predictions_df.toPandas()

#### Adding index column to meger the dataframes in later cells

In [115]:
rf_raw_predictions_df["id"] = rf_raw_predictions_df.index +1

In [116]:
lr_raw_predictions_df["id"] = lr_raw_predictions_df.index +1

In [117]:
new_df=lr_raw_predictions_df.merge(rf_raw_predictions_df, on= "id")

In [118]:
new_df

,text_x,rawPrediction_x,prediction_x,id,text_y,rawPrediction_y,prediction_y
0,Alonzo feels angry.,"[1.758761681156161, -1.758761681156161]",0.0,1,Alonzo feels angry.,"[8.581314520952962, 11.418685479047037]",1.0
1,Alonzo feels furious.,"[1.1883767559140836, -1.1883767559140836]",0.0,2,Alonzo feels furious.,"[8.581314520952962, 11.418685479047037]",1.0
2,Alonzo feels irritated.,"[1.1883767559140836, -1.1883767559140836]",0.0,3,Alonzo feels irritated.,"[8.581314520952962, 11.418685479047037]",1.0
3,Alonzo feels enraged.,"[1.1883767559140836, -1.1883767559140836]",0.0,4,Alonzo feels enraged.,"[8.581314520952962, 11.418685479047037]",1.0
4,Alonzo feels annoyed.,"[1.1883767559140836, -1.1883767559140836]",0.0,5,Alonzo feels annoyed.,"[8.581314520952962, 11.418685479047037]",1.0
...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,"[-0.26419630122863746, 0.26419630122863746]",1.0,8636,The conversation with my mom was funny.,"[8.581314520952962, 11.418685479047037]",1.0
8636,The conversation with my mom was hilarious.,"[0.47931264253825856, -0.47931264253825856]",0.0,8637,The conversation with my mom was hilarious.,"[8.581314520952962, 11.418685479047037]",1.0
8637,The conversation with my mom was amazing.,"[-1.2568624618888382, 1.2568624618888382]",1.0,8638,The conversation with my mom was amazing.,"[8.171052346622254, 11.828947653377746]",1.0
8638,The conversation with my mom was wonderful.,"[-1.1733344977347269, 1.1733344977347269]",1.0,8639,The conversation with my mom was wonderful.,"[8.581314520952962, 11.418685479047037]",1.0
8639,The conversation with my mom was great.,"[-1.5774363136664324, 1.5774363136664324]",1.0,8640,The conversation with my mom was great.,"[8.154866507877463, 11.845133492122535]",1.0

In [119]:
from sklearn.preprocessing import MinMaxScaler

import pandas as pd
from sklearn import preprocessing

x = new_df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
new_df = pd.new_df(x_scaled)

In [121]:
new_df["new_val1"] = 0

In [122]:
for i in range(len(new_df)):
    new_df.iloc[i,7]= new_df["rawPrediction_x"][i][0]

In [123]:
new_df["new_val2"] = 0

In [124]:
for i in range(len(new_df)):
    new_df.iloc[i,8]= new_df["rawPrediction_y"][i][0]

In [125]:
new_df

,text_x,rawPrediction_x,prediction_x,id,text_y,rawPrediction_y,prediction_y,new_val1,new_val2
0,Alonzo feels angry.,"[1.758761681156161, -1.758761681156161]",0.0,1,Alonzo feels angry.,"[8.581314520952962, 11.418685479047037]",1.0,1.758762,8.581315
1,Alonzo feels furious.,"[1.1883767559140836, -1.1883767559140836]",0.0,2,Alonzo feels furious.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315
2,Alonzo feels irritated.,"[1.1883767559140836, -1.1883767559140836]",0.0,3,Alonzo feels irritated.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315
3,Alonzo feels enraged.,"[1.1883767559140836, -1.1883767559140836]",0.0,4,Alonzo feels enraged.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315
4,Alonzo feels annoyed.,"[1.1883767559140836, -1.1883767559140836]",0.0,5,Alonzo feels annoyed.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315
...,...,...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,"[-0.26419630122863746, 0.26419630122863746]",1.0,8636,The conversation with my mom was funny.,"[8.581314520952962, 11.418685479047037]",1.0,-0.264196,8.581315
8636,The conversation with my mom was hilarious.,"[0.47931264253825856, -0.47931264253825856]",0.0,8637,The conversation with my mom was hilarious.,"[8.581314520952962, 11.418685479047037]",1.0,0.479313,8.581315
8637,The conversation with my mom was amazing.,"[-1.2568624618888382, 1.2568624618888382]",1.0,8638,The conversation with my mom was amazing.,"[8.171052346622254, 11.828947653377746]",1.0,-1.256862,8.171052
8638,The conversation with my mom was wonderful.,"[-1.1733344977347269, 1.1733344977347269]",1.0,8639,The conversation with my mom was wonderful.,"[8.581314520952962, 11.418685479047037]",1.0,-1.173334,8.581315
8639,The conversation with my mom was great.,"[-1.5774363136664324, 1.5774363136664324]",1.0,8640,The conversation with my mom was great.,"[8.154866507877463, 11.845133492122535]",1.0,-1.577436,8.154867

In [126]:
from sklearn.preprocessing import MinMaxScaler

In [127]:
scaler = MinMaxScaler()

In [128]:
new_df_to_be = new_df.loc[:, ["new_val1","new_val2"]]

In [129]:
new_df_to_be

      new_val1  new_val2
0     1.758762  8.581315
1     1.188377  8.581315
2     1.188377  8.581315
3     1.188377  8.581315
4     1.188377  8.581315
...        ...       ...
8635 -0.264196  8.581315
8636  0.479313  8.581315
8637 -1.256862  8.171052
8638 -1.173334  8.581315
8639 -1.577436  8.154867

[8640 rows x 2 columns]

In [130]:
df_scaled = pd.DataFrame(scaler.fit_transform(new_df_to_be),columns=new_df_to_be.columns )

In [131]:
df_scaled

      new_val1  new_val2
0     0.524358  1.000000
1     0.443084  1.000000
2     0.443084  1.000000
3     0.443084  1.000000
4     0.443084  1.000000
...        ...       ...
8635  0.236106  1.000000
8636  0.342049  1.000000
8637  0.094661  0.037955
8638  0.106563  1.000000
8639  0.048983  0.000000

[8640 rows x 2 columns]

In [132]:
df_scaled["id"] = df_scaled.index +1

In [133]:
df_scaled

      new_val1  new_val2    id
0     0.524358  1.000000     1
1     0.443084  1.000000     2
2     0.443084  1.000000     3
3     0.443084  1.000000     4
4     0.443084  1.000000     5
...        ...       ...   ...
8635  0.236106  1.000000  8636
8636  0.342049  1.000000  8637
8637  0.094661  0.037955  8638
8638  0.106563  1.000000  8639
8639  0.048983  0.000000  8640

[8640 rows x 3 columns]

In [134]:
final_df=new_df.merge(df_scaled, on= "id")

In [135]:
final_df

,text_x,rawPrediction_x,prediction_x,id,text_y,rawPrediction_y,prediction_y,new_val1_x,new_val2_x,new_val1_y,new_val2_y
0,Alonzo feels angry.,"[1.758761681156161, -1.758761681156161]",0.0,1,Alonzo feels angry.,"[8.581314520952962, 11.418685479047037]",1.0,1.758762,8.581315,0.524358,1.000000
1,Alonzo feels furious.,"[1.1883767559140836, -1.1883767559140836]",0.0,2,Alonzo feels furious.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315,0.443084,1.000000
2,Alonzo feels irritated.,"[1.1883767559140836, -1.1883767559140836]",0.0,3,Alonzo feels irritated.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315,0.443084,1.000000
3,Alonzo feels enraged.,"[1.1883767559140836, -1.1883767559140836]",0.0,4,Alonzo feels enraged.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315,0.443084,1.000000
4,Alonzo feels annoyed.,"[1.1883767559140836, -1.1883767559140836]",0.0,5,Alonzo feels annoyed.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315,0.443084,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,"[-0.26419630122863746, 0.26419630122863746]",1.0,8636,The conversation with my mom was funny.,"[8.581314520952962, 11.418685479047037]",1.0,-0.264196,8.581315,0.236106,1.000000
8636,The conversation with my mom was hilarious.,"[0.47931264253825856, -0.47931264253825856]",0.0,8637,The conversation with my mom was hilarious.,"[8.581314520952962, 11.418685479047037]",1.0,0.479313,8.581315,0.342049,1.000000
8637,The conversation with my mom was amazing.,"[-1.2568624618888382, 1.2568624618888382]",1.0,8638,The conversation with my mom was amazing.,"[8.171052346622254, 11.828947653377746]",1.0,-1.256862,8.171052,0.094661,0.037955
8638,The conversation with my mom was wonderful.,"[-1.1733344977347269, 1.1733344977347269]",1.0,8639,The conversation with my mom was wonderful.,"[8.581314520952962, 11.418685479047037]",1.0,-1.173334,8.581315,0.106563,1.000000
8639,The conversation with my mom was great.,"[-1.5774363136664324, 1.5774363136664324]",1.0,8640,The conversation with my mom was great.,"[8.154866507877463, 11.845133492122535]",1.0,-1.577436,8.154867,0.048983,0.000000

In [136]:
eec["id"] = eec.index +1

In [148]:
final_df=final_df.merge(eec, on= "id")

In [154]:
final_df

,text_x,rawPrediction_x,prediction_x,id,text_y,rawPrediction_y,prediction_y,new_val1_x,new_val2_x,new_val1_y,...,Emotion_x,Emotion word_x,ID_y,Sentence_y,Template_y,Person_y,Gender_y,Race_y,Emotion_y,Emotion word_y
0,Alonzo feels angry.,"[1.758761681156161, -1.758761681156161]",0.0,1,Alonzo feels angry.,"[8.581314520952962, 11.418685479047037]",1.0,1.758762,8.581315,0.524358,...,anger,angry,2018-En-mystery-05498,Alonzo feels angry.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,angry
1,Alonzo feels furious.,"[1.1883767559140836, -1.1883767559140836]",0.0,2,Alonzo feels furious.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315,0.443084,...,anger,furious,2018-En-mystery-11722,Alonzo feels furious.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,furious
2,Alonzo feels irritated.,"[1.1883767559140836, -1.1883767559140836]",0.0,3,Alonzo feels irritated.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315,0.443084,...,anger,irritated,2018-En-mystery-11364,Alonzo feels irritated.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,irritated
3,Alonzo feels enraged.,"[1.1883767559140836, -1.1883767559140836]",0.0,4,Alonzo feels enraged.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315,0.443084,...,anger,enraged,2018-En-mystery-14320,Alonzo feels enraged.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,enraged
4,Alonzo feels annoyed.,"[1.1883767559140836, -1.1883767559140836]",0.0,5,Alonzo feels annoyed.,"[8.581314520952962, 11.418685479047037]",1.0,1.188377,8.581315,0.443084,...,anger,annoyed,2018-En-mystery-14114,Alonzo feels annoyed.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,annoyed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,"[-0.26419630122863746, 0.26419630122863746]",1.0,8636,The conversation with my mom was funny.,"[8.581314520952962, 11.418685479047037]",1.0,-0.264196,8.581315,0.236106,...,joy,funny,2018-En-mystery-12020,The conversation with my mom was funny.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,funny
8636,The conversation with my mom was hilarious.,"[0.47931264253825856, -0.47931264253825856]",0.0,8637,The conversation with my mom was hilarious.,"[8.581314520952962, 11.418685479047037]",1.0,0.479313,8.581315,0.342049,...,joy,hilarious,2018-En-mystery-14529,The conversation with my mom was hilarious.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,hilarious
8637,The conversation with my mom was amazing.,"[-1.2568624618888382, 1.2568624618888382]",1.0,8638,The conversation with my mom was amazing.,"[8.171052346622254, 11.828947653377746]",1.0,-1.256862,8.171052,0.094661,...,joy,amazing,2018-En-mystery-16746,The conversation with my mom was amazing.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,amazing
8638,The conversation with my mom was wonderful.,"[-1.1733344977347269, 1.1733344977347269]",1.0,8639,The conversation with my mom was wonderful.,"[8.581314520952962, 11.418685479047037]",1.0,-1.173334,8.581315,0.106563,...,joy,wonderful,2018-En-mystery-00046,The conversation with my mom was wonderful.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,wonderful
8639,The conversation with my mom was great.,"[-1.5774363136664324, 1.5774363136664324]",1.0,8640,The conversation with my mom was great.,"[8.154866507877463, 11.845133492122535]",1.0,-1.577436,8.154867,0.048983,...,joy,great,2018-En-mystery-16664,The conversation with my mom was great.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,great

In [140]:
eec.isnull().sum()

ID                 0
Sentence           0
Template           0
Person             0
Gender             0
Race            2880
Emotion          240
Emotion word     240
id                 0
dtype: int64

In [147]:
#final_df.to_csv("final_eec.csv")

In [161]:
final_df.groupby('Gender').agg({'new_val1_y': 'mean' , 'new_val2_y': 'mean'})
#the results show bias in gender

        new_val1_y  new_val2_y
Gender
female    0.449736    0.777712
male      0.447877    0.777712

In [162]:
final_df.groupby('Race').agg({'new_val1_y': 'mean' , 'new_val2_y': 'mean'})
#the results show bias in race
#the new_val1_y is avg scaled sentiment score from LR
#the new_val2_y is avg scaled sentiment score from random forest

                  new_val1_y  new_val2_y
Race
African-American    0.450365    0.777712
European            0.448027    0.777712

In [169]:
grouped_multiple = final_df.groupby(['Gender', 'Race']).agg({'new_val1_y': ['mean']})
grouped_multiple.columns = ['ag_mean']
grouped_multiple = grouped_multiple.reset_index()
grouped_multiple

   Gender              Race   ag_mean
0  female  African-American  0.453154
1  female          European  0.448027
2    male  African-American  0.447577
3    male          European  0.448027

In [165]:
grouped_multiple = final_df.groupby(['Gender', 'Race', 'Emotion']).agg({'new_val1_y': ['mean']})
grouped_multiple.columns = ['ag_mean']
grouped_multiple = grouped_multiple.reset_index()
grouped_multiple
#the below results show the gap between all emotions, race, and gender

    Gender              Race  Emotion   ag_mean
0   female  African-American    anger  0.482484
1   female  African-American     fear  0.575225
2   female  African-American      joy  0.199898
3   female  African-American  sadness  0.556666
4   female          European    anger  0.477358
5   female          European     fear  0.570099
6   female          European      joy  0.194771
7   female          European  sadness  0.551540
8     male  African-American    anger  0.476907
9     male  African-American     fear  0.569648
10    male  African-American      joy  0.194321
11    male  African-American  sadness  0.551089
12    male          European    anger  0.477358
13    male          European     fear  0.570099
14    male          European      joy  0.194771
15    male          European  sadness  0.551540

## End of code